<div class="registration-container">
  <h1>Driver License Exam Registration</h1>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!-- Personal Information -->
    <div class="form-section">
      <h2>Personal Information</h2>
      
      <div class="form-row">

          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>ስም</mat-label>
            <input matInput formControlName="firstNameAmh" required>
            <mat-error>Required</mat-error>
          </mat-form-field> 
          </div>

          <!-- <div class="form-field">
            <label for="firstNameAmharic">ስም<span class="required">*</span></label>
            <input type="text" id="firstNameAmharic" formControlName="firstNameAmharic">
          </div> -->

          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>የአባት ስም</mat-label>
            <input matInput formControlName="fatherNameAmh" required>
            <mat-error>Required</mat-error>
          </mat-form-field> 
          </div>
          
          <!-- <div class="form-field">
            <label for="fatherNameAmharic">የአባት ስም<span class="required">*</span></label>
            <input type="text" id="fatherNameAmharic" formControlName="fatherNameAmharic">
          </div> -->
          
          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>የአያት ስም</mat-label>
            <input matInput formControlName="grandNameAmh" required>
            <mat-error>Required</mat-error>
          </mat-form-field> 
          </div>

          
          <!-- <div class="form-field">
            <label for="grandfatherNameAmharic">የአያት ስም<span class="required">*</span></label>
            <input type="text" id="grandfatherNameAmharic" formControlName="grandfatherNameAmharic">
          </div>
          </div> -->

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error>Required</mat-error>
            </mat-form-field> 
          </div>
      
          <!-- <div class="form-row">
          <div class="form-field">
            <label for="firstName">First Name<span class="required">*</span></label>
            <input type="text" id="firstName" formControlName="firstName">
          </div> -->
        
          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Father's Name</mat-label>
            <input matInput formControlName="fatherName" required>
            <mat-error>Required</mat-error>
          </mat-form-field> 
          </div>
        

          <!-- <div class="form-field">
            <label for="fatherName">Father's Name<span class="required">*</span></label>
            <input type="text" id="fatherName" formControlName="fatherName">
          </div> -->
        

          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Grandfather's Name</mat-label>
            <input matInput formControlName="grandName" required>
            <mat-error>Required</mat-error>
          </mat-form-field> 
          </div>


          <!-- <div class="form-field">
            <label for="grandfatherName">Grandfather's Name<span class="required">*</span></label>
            <input type="text" id="grandfatherName" formControlName="grandfatherName">
          </div>
          </div> -->
      
          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Sex" formControlName="sex">
              <mat-option  *ngFor ="let st of sex" [value]="st.id" >{{st.nameAmharic}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <div class="form-field">
            <label for="birthDate">Birth Date<span class="required">*</span></label>
            <input type="date" id="birthDate" formControlName="birthDate">
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Birth Place</mat-label>
              <input matInput formControlName="birthPlace" required>
              <mat-error>Required</mat-error>
            </mat-form-field> 
          </div>
        
          <!-- <div class="form-field">
            <label for="birthPlace">Birth Place<span class="required">*</span></label>
            <input type="text" id="birthPlace" formControlName="birthPlace">
          </div> -->

      </div>

      <div class="form-field" >
      <mat-form-field appearance="outline">
        <mat-select placeholder="Blood Type" formControlName="bloodType">
          <mat-option  *ngFor ="let st of bloodType" [value]="st.code">{{st.amdescription}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>


      <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Nationality" formControlName="nationality">
          <mat-option  *ngFor ="let st of nationality" [value]="st.code">{{st.amdescription}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Education" formControlName="education">
          <mat-option  *ngFor ="let st of education" [value]="st.id">{{st.nameAmharic}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Language" formControlName="isTheoryExamEnglish">
          <mat-option  *ngFor ="let st of language" [value]="st.id">{{st.nameAmharic}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <!-- Contact & Address -->
      <div class="form-section">
        <h2>Contact & Address</h2>
        
        <div class="form-row">

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="tel1" required>
              <mat-error>Required</mat-error>
            </mat-form-field> 
          </div>
          

          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Region" (selectionChange)="onRegionChange($event.value)" formControlName="region">
              <mat-option  *ngFor ="let st of region" [value]="st.code">{{st.amDescription}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-select placeholder="Town" [disabled]="!town.length" (selectionChange)="onTownChange($event.value)" formControlName="town">
                <mat-option  *ngFor ="let st of town" [value]="st.code">{{st.amDescription}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-select placeholder="Woreda" [disabled]="!woreda.length" (selectionChange)="onWoredaChange($event.value)" formControlName="woreda">
                <mat-option  *ngFor ="let st of woreda" [value]="st.code">{{st.amDescription}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-select placeholder="kebele" [disabled]="!kebele.length" formControlName="kebele">
                <mat-option  *ngFor ="let st of kebele" [value]="st.code">{{st.amDescription}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>House No.</mat-label>
              <input matInput formControlName="houseNo" required>
              <mat-error>Required</mat-error>
            </mat-form-field> 
          </div>

          <!-- <div class="form-field">
            <label for="houseNo">House No.</label>
            <input type="text" id="houseNo" formControlName="houseNo">
          </div> -->

        </div>
      </div>
    
      <!-- License Information -->
      <div class="form-section">
        <h2>License Information</h2>

          <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Licence Category" formControlName="licenceGrade">
              <mat-option  *ngFor ="let st of licenceCategory" [value]="st.code.toString()">{{st.displayNameAmh}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>National ID</mat-label>
              <input matInput formControlName="nationalId" required>
              <mat-error>Required</mat-error>
            </mat-form-field> 
          </div>
          
          <!-- <div class="form-field">
            <label for="nationalId">National ID<span class="required">*</span></label>
            <input type="text" id="nationalId" formControlName="nationalId">
          </div> -->
      </div>
    
      <!-- Photo Upload -->
      <div class="form-section">
        <h2>Photo Upload</h2>
        
        <div class="photo-upload-container">
          <button type="button" class="upload-button" (click)="triggerPhotoUpload()">
            <span class="camera-icon">📷</span> Upload Photo
          </button>
          <input type="file" id="photoUpload" accept="image/jpeg,image/png" hidden (change)="onPhotoSelected($event)" >
          
          <p class="upload-hint">JPG or PNG, max 5MB</p>
          <img *ngIf="imagePreview" [src] = "imagePreview" alt="preview">
        </div>
      </div>
    </div>
    <!-- Form Actions -->
      <div class="form-actions">
        <button type="button" class="btn-reset" (click)="resetForm()">Reset</button>
        <button type="submit" class="btn-register">Register</button>
      </div>
  </form>
</div>
