<div class="footer-container">
  <div class="footer-indicator">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </div>
  
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>{{ 'footer.contactUs.title' | translate }}</h3>
        <p><mat-icon>phone</mat-icon> (251) 9456-70890</p>
        <p><mat-icon>email</mat-icon> support&#64;driverslicense.example.com</p>
        <p><mat-icon>location_on</mat-icon> 123 Bole St, Addis Ababa, ST 12345</p>
      </div>
      
      <div class="footer-section">
        <h3>{{ 'footer.quickLinks.title' | translate }}</h3>
        <ul>
          <li><a href="#">{{ 'footer.quickLinks.aboutUs' | translate }}</a></li>
          <li><a href="#">{{ 'footer.quickLinks.faqs' | translate }}</a></li>
          <li><a href="#">{{ 'footer.quickLinks.privacyPolicy' | translate }}</a></li>
          <li><a href="#">{{ 'footer.quickLinks.termsOfService' | translate }}</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h3>{{ 'footer.openingHours.title' | translate }}</h3>
        <p>{{ 'footer.openingHours.monFri' | translate }}</p>
        <p>{{ 'footer.openingHours.sat' | translate }}</p>
        <p>{{ 'footer.openingHours.sun' | translate }}</p>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>{{ 'footer.copyright' | translate }}</p>
    </div>
  </footer>
</div>